@use "../base/variables" as *;
@use "../base/mixins" as m;

.content {
  margin: 6rem auto;
  display: grid;
  gap: 3rem;

  @include m.tablet {
    grid-template-columns: repeat(3, auto);
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
