@use "../base/variables" as *;
@use "../base/mixins" as m;

.content {
  background: linear-gradient(45deg, $pinkDark, $pinkLight);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
