//FONT
$fontPrincipal: 'Ubuntu', sans-serif;

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$purple: hsl(258, 20%, 27%);
$purpleOpacity: hsl(259, 24%, 35%);
$blue: hsl(204, 100%, 65%);
$pink: hsl(341, 97%, 69%);
$greenLight: hsl(146, 88%, 61%);
$orange: hsl(42, 100%, 52%);
$greenDark: hsl(154, 54%, 47%);
$purpleLight: hsl(282, 100%, 67%);
