*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background-color: rgba(75, 153, 189, 0.822);
}

.card{
    width: 330px;
    min-height: 400px;
    background-color: white;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.315);
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    background-size: 100% 150px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 1px;
}
    
.card__person{
    background-image: url(/8-Card/woman.jpg);
    width: 110px;
    height: 110px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 100px;
    border: 7px solid white;
}

.card__name{
    margin-top: 20px;
    margin-bottom: 10px;
}

.card__media{
    margin-top: 40px;
    width: 100%;
    height: 90px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}

.card__icon{
    width: 25%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.card__icon--facebook{
    background-image: url(/8-Card/icons/facebook.svg);
}

.card__icon--instagram{
    background-image: url(/8-Card/icons/instagram.svg);
}
.card__icon--youtube{
    background-image: url(/8-Card/icons/youtube.svg);
}