@use "../base/variables" as *;
@use "../base/mixins" as m;

.footer {
  @include m.flex();
  flex-direction: column;
  gap: 2rem;

  &__nav {
    display: flex;
    gap: 4rem;

    &-link {
      width: 4rem;
      filter: invert(1);
    }
  }

  &__copyright {
    color: $grayFooter;
    font-size: 1.8rem;

    &-link {
      color: $white;
    }
  }
}
