//FONT
$fontPrincipal: "Poppins", sans-serif;

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 20%);
$dark: hsl(339, 99%, 52%);
$light: hsl(51, 100%, 62%);
