*{
    box-sizing: border-box;
}

.container {
    background-color: rgb(4, 8, 54);
    width: 300px;
    height: 500px;
    margin: 70px auto;
    border-radius: 30px;
    box-shadow: 5px 5px 15px cyan;
    color: aliceblue;
    font-family: arial;
    overflow: hidden;
    text-align: center;
}

.container__img {
    display: block;
    padding: 10px; 
    width: 300px;
    height: 290px;
    object-fit: contain;
}

.container__title {
    border-bottom: 0.4px solid white;
    padding-bottom: 10px;
    margin: 0 18px;
}

.container__text{
    padding: 10px;
    color: rgb(231, 231, 231);   
}

.button {
    width: 90%;
    height: 45px;
    border-radius: 10px;
    font-weight: bold;
}