@use "../base/variables" as *;

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin bgPhoto($img) {
  background-image: $img;
  background-position: center;
  object-fit: cover;
  background-size: 400%, cover;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
