*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.link{
    background-color: blueviolet;
    margin: 50px;
    display: inline-block;
    padding: 1em 2em;
    color: white;
    text-decoration: none;
    border-radius: 2em;
    transition: .3s;
}

/* .link:hover{
    background-color: tomato;
    transform: translateY(10px);
} 
Cuando el mouse pasa por el elemento*/

.link:active{
    background-color: tomato;
    transform: translateY(10px);
}
/* Cuando se hace click en el elemento (presionar) */

/* .element1{
    background-color: tomato;
    color: white;
    width: 200px;
    height: 200px;
    margin: 50px;
    transition: .3s;
}

.element1:target{
    transform: translateX(100%);
}
Para saber cuando un elemento esta en desplazamiento de anclas (a href= hace referencia al element1 */

.check{
    margin: 50px 20px;
}

.check:checked + .label{
    background-color: green;
}
/* Indica el estado cuando esta activo (cuando se selecciona) un checkbox, radio o select */

.label{
    background-color: crimson;
    color: white;
    padding: 20px 15px;
}

.input{
    width: 250px;
    height: 70px;
    margin: 50px;
}

.input:focus{
background-color: darkslategray;
color: white;
}
/* Cuando estamos activos en un input (click) */

.element2{
    background-color: tomato;
    color: white;
    width: max-content;
    margin: 50px;
    font-size: 2rem;
}

.element2::before{
    content: "";
    display: block;
    background-color:black;
    width: 100px;
    height: 50px;
}

.element2::after{
    content: "";
    display: block;
    background-color:green;
    width: 100px;
    height: 50px;
}

.validacion{
    padding: .5em 2em;
    margin: 50px;
    font-size: 1rem;
}

.validacion + .message::after{
    content: "Felicidades, has ingresado un texto";
    display: block;
    background-color: green;
    padding: 1em;
    color: white;
    margin: 0 auto;
    width: max-content;
}

.validacion:placeholder-shown + .message::after{
    content: "Aun no has escrito nada en el input";
    display: block;
    background-color: crimson;
    padding: 1em;
    color: white;
    margin: 0 auto;
    width: max-content;
}

.validacion:placeholder-shown{
    background-color: black;
    color: white
} 