*{
    margin: 0;
    box-sizing: border-box;
}

.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

/* Si el viewport mide menos o igual a 600px se aplicara las condiciones que se indiquen. */
/* @media (max-width: 600px){

    body{
        background-color: aquamarine
    }

} */

/* Cuando se utilicen mas de un MAX-WIDTH se debe colocar en orden de MENOR A MAYOR para que se respeten las cascadas. */

/* @media (max-width: 800px){

    body{
        background-color: aquamarine
    }
}

@media (max-width: 600px){

    body{
        background-color: rgb(225, 127, 255)
    }
} */

/*Cuando se utilicen mas de un MIN-WIDTH se debe colocar en orden de MENOR A MAYOR para que se respeten las cascadas.*/

/* @media (min-width:600px){

    body{
        background-color: aquamarine;
    }
}

@media (min-width:800px){

    body{
        background-color: rgb(203, 103, 223);
    }
} */

/* Modificar el tamanho de la Imagen segun la medida */

@media (min-width: 800px){
    body{
        background-color: aquamarine;
    }

    .img{
        width: 50%;
        border-radius: 50%;
    }
}