@use "variables" as *;
@use "../base/mixins" as m;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $fontPrincipal;
  font-size: 1.6rem;
  background: radial-gradient($redLight, $redDark);
  color: $white;
}

.container {
  margin: 0 auto;
  width: 90%;
  @include m.tablet{
    width: 78%;
  }

  @include m.desktop{
    width: 90%;
  }
}

img {
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
  text-transform: capitalize;
  color: $white;
}

h1{
  line-height: 1.1;
  font-weight: 300;
}

p{
  line-height: 1.5;
}