@use "../base/variables" as *;
@use "../base/mixins" as m;

.card {
  border: 1px solid $white;
  min-width: 350px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0 25px 45px $shadow;
  border: 1px solid $border;
  backdrop-filter: blur(25px);
  background-color: $gray;
  padding: 2rem;
  color: $white;

  &__title {
    font-size: 1.9rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__person {
    background-color: $darkDegray;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;

    &:hover {
      background-color: $white;
      transform: scale(1.2, 1.2) translate(30px, -15px);

      & :nth-child(2) {
        color: $grayText;
      }

      & :nth-child(3) {
        visibility: visible;
        right: 2rem;
      }
    }

    &-photo {
      width: 6rem;
      height: 6rem;

      & img {
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
      }
    }

    &-name {
      font-size: 1.6rem;
    }

    &-job {
      font-size: 1.2rem;
    }

    &-number {
      position: absolute;
      right: -4rem;
      color: $blue;
      transition: 0.4s;
      transition-timing-function: ease-in-out;
      font-size: 3.2rem;
      visibility: hidden;

      & small {
        font-weight: 500;
        opacity: 0.25;
      }
    }
  }
}
