@use "variables" as *;
@use "../base/mixins" as m;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}