*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial;
}

.container{
    margin: 50px auto;
    width: 90%;
    height: 500px;
    background-color: steelblue;
    /* background-image: url(img/sid.png);
    La imagen se repetira hasta llenar el espacio
    background-repeat: no-repeat;
    Para eliminar que se repita
    background-position: center;
    Para posicionar la imagen: ej top-left (parte superior izquierda) etc. 
    background-size: contain; 
    Permite darle un tamanho: ancho y alto - Cover: que la imagen cubra al elemento (expandir) - contain: ajusta la imagen al elemento */
    
    /* background-image: linear-gradient(rgba(205, 18, 162, 0.741), rgba(22, 126, 170, 0.378)), url(img/imagen.jpg);
    color: aliceblue;
    background-position: center;
    background-size: cover; 
    text-align: center;
    padding: 200px; */
}