@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&family=Raleway:wght@300;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.hero{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.hero__container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

.hero__texts{
    position: absolute;
    left: 0;
    top: 50%;
}

.hero__img{
    position: absolute;
    right: 0;
    top: 50%;
}