//FONT
$fontPrincipal: "Poppins", sans-serif;

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$ice: hsl(205, 74%, 95%);
$purple: hsl(280, 71%, 63%);
$purpleDark: hsl(255, 66%, 48%);
$pink: hsl(340, 100%, 67%);
$gray: hsl(0, 0%, 47%);
$shadow: hsla(0, 0%, 0%, 0.1);
$shadowHover: hsla(0, 0%, 0%, 0.4);
$borderGray: hsla(0, 0%, 0%, 0.05);
$borderBeige: hsla(0, 0%, 100%, 0.5);
$number: hsla(0, 0%, 0%, 0.02);
$blue: hsl(199, 98%, 48%);
