//FONT

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORS
$gray: hsl(0, 0%, 11%);
$white: hsl(0, 0%, 100%);
$orange: hsl(44, 88%, 53%);
$yellow: hsl(53, 72%, 63%);
$purple: hsl(248, 99%, 67%);
$aqua: hsl(191, 67%, 59%);
$aquaDark: #4fc3dc44;