@use "../base/variables" as *;
@use "../base/mixins" as m;

.info {
  position: relative;
  @include m.flex();
  flex-direction: column;
  max-width: 90rem;
  text-align: center;

  &__title {
    font-size: 5rem;

    @include m.tablet {
      font-size: 8rem;
    }
  }

  &__text {
    font-size: 1.9rem;
  }

  &__botton {
    @include m.button();
  }
}
