@use "../base/variables" as *;
@use "../base/mixins" as m;

.landing {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include m.flex();

  &::before {
    @include m.shadowBefore();
    height: 20rem;
  }

  &__background {
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
