* {
  margin: 0;
  box-sizing: border-box;
}

.container{
    width: 90%;
    max-width: 400px;
    min-height: 550px;
    margin: 40px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row | row-reverse | column | column-reverse */
    /* flex-wrap: nowrap; | wrap | wrap-reverse*/
    /* justify-content: space-evenly; */
    /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly; */
    /* align-items: stretch | flex-start | flex-end | center | baseline; */
    /* align-content: flex-start | flex-end | center | space-between | space-around; */
}

.element{
    width: 100px;
    height: 100px;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    color: white;
    /* flex-grow: 1; */
    /* flex-basis: 150px; */
}

.element1{
    background-color: coral;
    /* align-self: stretch; */
}

.element2{
    background-color: purple;
    /* flex-grow: 2; */
    /* order: 2; */
    /* flex-shrink: 3; */
}

.element3{
    background-color: rgb(117, 161, 51);
}