@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../wave.svg), linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-repeat: no-repeat;
    background-size: 100% 50px, cover;
    background-position: bottom;
}

.banner{
    text-align: center;
    margin: 50px;
    height: 90%;
}
.banner__contain{
    color: darkmagenta;
}

.banner__text{
    width: 800px;
    margin: 20px auto;
}

.banner__link{
    display: inline-block;
    background-color: darkmagenta;
    color: white;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 7px;
    text-decoration: none;
}

.banner__img{
    width: 300px;
    margin-top: 20px;
}