//FONT
$fontPrincipal: "Poppins", sans-serif;

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORS
$white: hsl(0, 0%, 100%);
$ice: hsl(0, 0%, 96%);
$black: hsl(0, 0%, 0%);
$orangeDark: hsl(15, 93%, 55%);
$orangeLight: hsl(28, 90%, 57%);
$blackDegray: hsl(0, 0%, 7%);
$transparent: hsla(260, 2%, 36%, 0);
$transparent2: hsla(299, 86%, 51%, 0);
$shadow: hsla(0, 0%, 13%, 0.08);
